@font-face {
    font-family: 'Generator REX Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Generator REX Regular'), url('Generator REX.woff') format('woff');
    }

    h1 {
        font-family: 'SEGA LOGO FONT';
        font-weight: 200;
        color: #0ccac4;
    }